<div style="width:100%" class="animated fadeInUp"> Add Post
    <input ng-model="message" style="width:100%" type="text" placeholder="Message" /><br />
    <input ng-model="network" style="width:100%" type="text" placeholder="Network" /><br />
    <input ng-model="postType" style="width:100%" type="text" placeholder="postType" /><br />
    <input ng-model="status" style="width:100%" type="text" placeholder="status" /><br />
    <input ng-model="media" style="width:100%" type="text" placeholder="Media image url" /><br />
    <input ng-model="countries" style="width:100%" type="text" placeholder="Countries" /><br />
    <input ng-model="languages" style="width:100%" type="text" placeholder="Languages" /><br />
    <input ng-model="tags" id="tagsinput" style="width:100%" type="text" placeholder="Tags (comma separated)" />
<button ng-click="addPost()">Post</button>

    <p>{{notif}}</p>

</div>