<div style="width:100%" class="animated fadeInUp"> Edit Post
    id: <span style="color:#3a3a3a; font-size:.7em;">{{pubId}}</span>
    <input ng-model="message" style="width:100%" type="text" /><br />
    <input ng-model="network" style="width:100%" type="text" placeholder="Network" /><br />
    <input ng-model="postType" style="width:100%" type="text" placeholder="postType" /><br />
    <input ng-model="status" style="width:100%" type="text" placeholder="status" /><br />
    <input ng-model="media" style="width:100%" type="text" placeholder="media" /><br />
    <input ng-model="countries" style="width:100%" type="text" placeholder="Countries" /><br />
    <input ng-model="languages" style="width:100%" type="text" placeholder="Languages" /><br />
    <input ng-model="tags" style="width:100%" type="text" placeholder="Tags (comma separated)" />
    <button ng-click="editPost()">Edit</button>
</div>